# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd

#### COTAÇÃO DÓLAR

In [2]:
navegador = webdriver.Chrome()

navegador.get('https://www.google.com/') # Entrar no google
navegador.find_element(By.XPATH, #xpath é o caminho do elemento no site do google
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
     ).send_keys( 'cotação dólar hoje') #send_keys digita oq queremos 

navegador.find_element(By.XPATH, 
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
     ).send_keys(Keys.ENTER) # Apertar Enter

cotacao_dolar = navegador.find_element(By.XPATH, 
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]' #xpath do elemento cotação
     ).get_attribute('data-value') #Pegar a cotação indicada
print(cotacao_dolar)

5.0891

#### COTAÇÃO EURO

In [3]:
navegador.get('https://www.google.com/') # Entrar no google
navegador.find_element(By.XPATH, #xpath é o caminho do elemento no site do google
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
     ).send_keys( 'cotação euro hoje') #send_keys digita oq queremos 

navegador.find_element(By.XPATH, 
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input'
     ).send_keys(Keys.ENTER) # Apertar Enter

cotacao_euro = navegador.find_element(By.XPATH, 
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]' #xpath do elemento cotação
     ).get_attribute('data-value') #Pegar a cotação indicada
print(cotacao_euro)

5.5169999999999995

#### COTAÇÃO OURO

In [4]:
navegador.get('https://www.melhorcambio.com/ouro-hoje') # Entrar na cotação do ouro no site melhor cambio
cotacao_ouro = navegador.find_element(
    By.XPATH, '//*[@id="comercial"]').get_attribute('value') # Pegar a cotação
cotacao_ouro = cotacao_ouro.replace(',', '.') # Substituir a vírgula pelo ponto
print(cotacao_ouro)

310.99

In [5]:
navegador.quit()

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [6]:
tabela = pd.read_excel('Produtos.xlsx')
tabela.head(5)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.9,34200.000

- Atualizando as cotações na tabela

In [7]:
# Localizar na tabela, as cotações em que as linhas da colunao moeda == dolar, e substituir por cotação dolar
# O float é usado para garantir que o tipo seja numérico, caso tenha raspado uma string

tabela.loc[tabela['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar) 
tabela.loc[tabela['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_euro) 
tabela.loc[tabela['Moeda'] == 'Ouro', 'Cotação'] = float(cotacao_ouro) 
tabela.head()

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.0891,4999.95,1.4,6999.930
1,Carro Renault,4500.00,Euro,5.5170,27000.00,2.0,54000.000
2,Notebook Dell,899.99,Dólar,5.0891,4499.95,1.7,7649.915
3,IPhone,799.00,Dólar,5.0891,3995.00,1.7,6791.500
4,Carro Fiat,3000.00,Euro,5.5170,18000.00,1.9,34200.000

- Refazendo os cálculos de Preço de compra e Preço de venda

In [8]:
tabela['Preço de Compra'] = tabela['Preço Original'] * tabela['Cotação']
tabela['Preço de Venda'] = tabela['Preço de Compra'] * tabela['Margem']
tabela.head()

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.0891,5089.049109,1.4,7124.668753
1,Carro Renault,4500.00,Euro,5.5170,24826.500000,2.0,49653.000000
2,Notebook Dell,899.99,Dólar,5.0891,4580.139109,1.7,7786.236485
3,IPhone,799.00,Dólar,5.0891,4066.190900,1.7,6912.524530
4,Carro Fiat,3000.00,Euro,5.5170,16551.000000,1.9,31446.900000

### Agora vamos exportar a nova base de preços atualizada

In [9]:
tabela.to_excel('Produtos_atualizado.xlsx', index = False)

## Instalaçao das bibliotecas

In [10]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nubia\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\nubia\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nubia\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\nubia\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nubia\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nubia\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\nubia\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\nubia\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nubia\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nubia\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [11]:
!pip install dash==1.20.0

Requirement already satisfied: dash==1.20.0 in c:\users\nubia\anaconda3\lib\site-packages (1.20.0)
Requirement already satisfied: dash-html-components==1.1.3 in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (1.1.3)
Requirement already satisfied: Flask>=1.0.4 in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (1.1.2)
Requirement already satisfied: flask-compress in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (1.13)
Requirement already satisfied: future in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (0.18.2)
Requirement already satisfied: plotly in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (5.4.0)
Requirement already satisfied: dash-core-components==1.16.0 in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (1.16.0)
Requirement already satisfied: dash-renderer==1.9.1 in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (1.9.1)
Requirement already satisfied: dash-table==4.11.3 in c:\users\nubia\anaconda3\lib\site-packages (from dash==1.20.0) (4.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\nubia\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.20.0) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\nubia\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.20.0) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\nubia\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.20.0) (7.1.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\nubia\anaconda3\lib\site-packages (from Flask>=1.0.4->dash==1.20.0) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nubia\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash==1.20.0) (1.1.1)
Requirement already satisfied: brotli in c:\users\nubia\anaconda3\lib\site-packages (from flask-compress->dash==1.20.0) (1.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\nubia\anaconda3\lib\site-packages (from plotly->dash==1.20.0) (8.0.1)
Requirement already satisfied: six in c:\users\nubia\anaconda3\lib\site-packages (from plotly->dash==1.20.0) (1.15.0)